/* styles2.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dabba-1 {
    background-color: #fff;
    width: 400px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.dabba-1 h1 {
    color: #333;
    margin-bottom: 20px;
}

.dabba-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
    color: #333;
    display: block;
    width: 100%;
    text-align: left;
}

#number {
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 12px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.result-section {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    text-align: left;
}

.result-section p {
    color: #333;
    word-wrap: break-word; /* Add this line */
}

.result-section p:first-child {
    margin-top: 0;
}